:root {
  --gray-4: rgba(255, 255, 255, 0.4);
  --gray-10: rgba(27, 30, 35, 0.10);
  --gray-20: rgba(255, 255, 255, 0.20);
  --gray-50: rgba(255, 255, 255, 0.50);
  --gray-30: rgba(255, 255, 255, 0.30);
  --black-30: rgba(27, 30, 35, 0.30);
  --bd-color: rgba(27, 30, 35, 0.50);
  --red: #FF0420;
  --text-black: #1B1E23;
}
