@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base.css';
@import './layout.css';


#edit-input::-webkit-inner-spin-button, 
#edit-input::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0;
  display: none;
}

#invalid-value-overall-ranking {
  border: 1px #ff0000 solid;
  
  animation: blink 1s;
  animation-iteration-count: 2;
}

@keyframes blink { 50% { border-color:#fff ; }  }