.modalOverlay {
  background: rgba(27, 30, 35, 0.3);
  backdrop-filter: blur(3px);
}

.modal {
  padding: 40px;
  border-radius: 20px;
  // backdrop-filter: blur(6px);
  max-height: 704px;
  overflow: hidden;
  position: relative;
  max-width: 1024px;
}
